body{
    background-color: beige;
}
.bio{
    color: midnightblue;
    text-decoration: underline;
    font-weight: bold;
}
img {
    border-radius: 50%;
  }
h2{
    color: rgb(4, 49, 134);
}
span{
    font-style: italic;
}