body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.4;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    color: #333;
    letter-spacing: 0.5px;
}
header{
   margin-bottom: 25px;
}
header a.logo{
    font-size: 24px;
    font-weight: 500;
    float: left;
    margin-right: 50px;
}
header a:hover{
    text-decoration: none;
}
header nav a{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}
header .dropdown-item{
	margin-bottom: 5px;
}
header .dropdown-item:hover{
	color: #ffc111;
}
.container{
    max-width: 1300px;
}
.up{
	text-transform: uppercase;
}
.mb30{
	margin-bottom: 30px;
}
.mb20{
	margin-bottom: 20px;
}
.mt30{
	margin-top: 30px;
}
header #toolbar{
	background: #222;
	padding: 15px 0;
	color: #c3c3c3;
}
header #toolbar a{
	color: #c3c3c3;
	font-size: 13px;	
	display: inline-block;
	position: relative;
	font-weight: 500;
}
header #toolbar a:hover{
	color: #ffc111;
}
header #toolbar .link-wishlist, header #toolbar .link-compare,
header #toolbar .link-admin{	
	margin-right: 15px;
	padding-left: 27px;
}
header #toolbar .link-admin::before{
	font-family: "Material Icons";
	content: "\e7fd";
	font-size: 22px;
	display: block;
	position: absolute;
	left: 0px;
	top: -2px;		
	line-height: 1;
}
header #toolbar .link-wishlist::before{
	font-family: "Material Icons";
	content: "\e87e";
	font-size: 22px;
	display: block;
	position: absolute;
	left: 0px;
	top: -2px;		
	line-height: 1;
}
header #toolbar .link-compare::before{
	font-family: "Material Icons";
	content: "\e86a";
	font-size: 23px;
	display: block;
	position: absolute;
	left: 0px;
	top:  -2px;		
	line-height: 1;
}
header #top{
	padding: 25px 0;
}
header .logo{
	display: inline-block;
}
header .card-link{
	display: inline-block;
	float: right;
	padding-top: 5px;
	color: rgba(0,0,0,.87);
	position: relative;
	margin-right: 20px;
}
header .card-link #itemCount{
	position: absolute;
	top: -5px;
	right: -10px;
	background: #ffc111;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	font-size: 11px;
	text-align: center;	
	padding-top: 2px;
}
header #helpline{
	display: inline-block;
	font-size: 12px;
	float:right;
	position: relative;
	margin-right: 30px;
}
header #helpline .phone{
	font-size: 20px;
	font-weight: 600;
	display: block;
	line-height: 1;
}
header #helpline::before{
	font-family: "Material Icons";
	content: "\e0b0";
	font-size: 35px;
	display: block;
	position: absolute;
	left:-40px;
	top: 0px;	
}
.bg-orange{
	background: #ffc111;
}
header .nav a.nav-link{
	padding: 20px 25px;
	color: #333;
	display: block;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
header .nav li:hover{
	background: #f5b910;
}
footer{
	background: #f7f7f7;
	padding: 50px 0 40px;
}
footer .logo{
	display: block;
	margin-bottom: 15px;
}
footer a{
	color: #333;
}
footer a:hover{
	color: #ffc111;
	text-decoration: none;
}
footer h4{
	color: #383838;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}
footer ul{
	list-style: none;
	margin:0;
	padding:0;
	font-size: 15px;
}
footer ul li{
	margin-bottom: 10px;
}
footer .contact-info{
	position: relative;
	padding-left: 25px;
	margin-bottom: 10px;
}
footer .address::before{	
	font-family: "Material Icons";
	content: "\e8b4";
	font-size: 18px;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
}
footer .phone::before{	
	font-family: "Material Icons";
	content: "\e0b0";
	font-size: 18px;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
}
footer .email::before{	
	font-family: "Material Icons";
	content: "\e0be";
	font-size: 18px;
	display: block;
	position: absolute;
	left:0px;
	top: 0px;
}
.border-gray{
	border: 1px solid #d9d9d9;
}
.border-gray-ligth{
	border: 1px solid #e5e5e5;
}
#topCategories h4{
	background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    color: #444;
    padding: 15px 20px 15px 10px;
    font-weight: 500;
    font-size: 14.5px;
    margin: 0;
    text-transform: uppercase;
}
#topCategories .cat-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#topCategories .cat-list a{
	padding-top: 13px;
    padding-bottom: 13px!important;
    border-top: 1px solid #d9d9d9;
    margin: 0 10px -1px;
    color: #777;
    font-size: 15px;
    display: block;
}
#topCategories .cat-list a:hover{
	color: #ffc111;
	text-decoration: none;
}
.noborder{
	border:none !Important;	
}
.carousel-item .carousel-caption{
	left: 40px;
	top: 20%;
	max-width: 45%;
}
.carousel-item .carousel-caption h2{
	font-size: 48px;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
.carousel-item .carousel-caption p{
	font-size: 36px;
    text-align: left;
    color: #333;
    margin-bottom: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.carousel-indicators li{
	background-color: #000;
	opacity: .2;
}
.carousel-indicators li:hover{
	background-color: #ffc111;
	opacity: .8;
}
.carousel-indicators li.active{
	background-color: #ffc111;
	opacity: 1;
}
#heroBanner .carousel-control-prev, #heroBanner .carousel-control-next{
	display: none;
}
.btn{
	display: block;
	color: #333;
    padding: 7px 33px 5px;
    width: 180px;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}
.btn-orange{
	background: #ffc111;
}
.btn-orange:hover{
	color: #fff;
}
.brand-promises{
	padding: 25px;
	color: #777;
	font-size: 14px;
}
.brand-promises h4{
	color: rgba(0,0,0,.87);
	text-transform: uppercase;
	font-size: 14.5px;
	font-weight: 700;	
    margin: 0;
    padding-bottom: 5px;
}
.brand-promises .item{
	position: relative;
	padding: 18px 0 18px 47px;
	min-height: 62px;
}
.brand-promises .item::before{
	font-family: "Material Icons";
	font-size: 41px;
	display: block;
	position: absolute;
	left: 0px;
	top: 10px;
	color: #ffc111;
}
.brand-promises .item.bonus-plus::before{
	content:"\e8f6";
}
.brand-promises .item.free-shipping::before{
	content:"\e558";
}
.brand-promises .item.money-back-guarentee::before{
	content:"\e263";
}
.brand-promises .item.online-support::before{
	content:"\e889";
}
.brand-promises .item.has-sep::after{
	content:" ";
	width: 1px;
	height: 100%;
	top: 0px;
	right: -11px;
	background-color: #e5e5e5;
	position: absolute;
	display: block;
	
}
.promotion .item{
	color: #383838;
	background-color: #f5f5f5;
	padding: 17px;
	flex: 1 1 0%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 4px;   
}
.promotion .item h4{
	font-size: 21px;
    font-weight: 600;
    color: #2d2a25;
    margin-bottom: 5px;
    text-transform: uppercase;
    max-width: 50%;
    line-height: 1;
}
.btn-link{
	font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #383838;
    margin-top: 15px;
    display: block;
}
.btn-link:hover{
	color: #ffc111;
}
.promotion .item.promo-laptop{
	 background-image: url(../images/laptop.png);
	 height: 490px;
	 background-size: contain;
}
.promotion .item.promo-tablets{
	 background-image: url(../images/tablet.png);
}
.promotion .item.promo-cameras{
	 background-image: url(../images/cameras.png);
}
.promotion .item.promo-mobiles{
	 background-image: url(../images/mobiles.png);
	 height: 310px;
}
.promotion .item.custom h4{
	font-size: 37px;	
}
.btn-custom{
	padding: 10px 32px;
	font-size: 44px;	
	width: 215px;
}
.promoted-products h4{
	font-size: 21px;
    font-weight: 500;	
    line-height: 1;
    position: relative;
    padding-bottom:15px;
    margin: 0 0 20px;
    border-bottom: 1px solid #f6f6f6;
}
.promoted-products h4::after{
	content: " ";
	display: block;
	left: 0;
    position: absolute;
    width: 2.5rem;
    height: 1.5px;
    background-color: #222;
    bottom: 0;
	
}
.title{
	font-size: 17px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: .03em;
    line-height: 1;
    color: #333;
    margin-bottom: 0;
    display: block;
}
.title:hover{
	color: #ffc111;
	text-decoration: none;
}
.star-review i{
	color: #ffc111;
    font-size: 17px;
    line-height: 17px;
    height: 17px;
    width: 17px;
    vertical-align: middle;
    margin-right: -3px;
}
.thumb{
	overflow: hidden;
	display: block;
}
.item .thumb{
	max-width: 100%;
}
.thumb img{
	max-width: 100%;
}
.promoted-products-list .thumb{
	background-color: #f6f6f6;
	border-radius: 4px;
}
.item .price{
	margin-top: 5px;
}

/*Shopping Card page styles*/
#cart{
	box-shadow: 2px 2px 6px 0 rgba(0,0,0,.1),0 1px 1px 0 transparent,0 1px 3px 0 rgba(0,0,0,.12);
	padding:30px 15px;
	color: rgba(0,0,0,.87);
	font-size: 21px;
	font-weight: 500;
	margin: 50px 0;
	vertical-align: middle;
}
#cart .thead{
	color: rgba(0,0,0,.54);
	font-size: 14px;
	padding: 0 0 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(0,0,0,.87);
}
#cart .title{
	font-size: 14px;
}
#cart .col-wrap{
	padding: 0 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
#cart .thumb{
	max-width:100px;
	margin: 0 auto; 
	margin-bottom: 15px;
}
#cart .total{
	color: #f33927;
}
#cart .cart-item{
	border-bottom: 1px solid #eee;
}
#cart .buttons{
	margin: 30px 0 0;
	font-size: 14px;
}
#cart .buttons .btn{
	text-transform: none;
	display: inline-block;
	width: auto;
	padding:10px 33px 9px;
}
#cart #grandTotal{
	margin-right: 30px;
}
#checkout{
	margin: 50px 0;
}
#checkout .thead{
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 15px;
	margin-bottom: 25px;
	border-bottom: 1px solid #e5e5e5;
}
#checkout .thead .big{
	font-size: 20px;
}
#checkout .thead .normal{
	padding-top: 5px;
}
#checkout .order-details{
	padding: 30px;
	font-size: 1rem;
}
#checkout .price{
	font-size: 20px;
}
#checkout .total{
	color: #f33927;
}
#checkout .subtotal{
	padding-top: 25px;
	margin-top: 20px;
	border-top: 1px solid #e5e5e5;
}
#checkout form{
	font-size: 16px;
	font-weight: 400;
}
#checkout form .input{
	margin-bottom: 25px;
}
#checkout form input, #checkout form textarea{
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.42);
	padding: 5px 0;
	display: block;
	width: 100%;
	font-weight: 400;
}
#checkout h2{
	font-size: 36px;
    text-transform: capitalize;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 700;
    margin: 0 0 20px;
}


.collapsible {
  background-color: #f1f1f1;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #ffc111;
  color:white;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

p{
	 text-align: justify;
}

.card-body{
	padding:0.5rem;	
}
.card .card-img-top{
	max-height:180px !important;
}